.bash_history
.bash_logout
.bash_profile
.bashrc
.gitconfig
.lesshst
.ssh/
.vim/
.viminfo
cent
consul
data
dev2
git
ifcai2
ifcai2.old
ifcai3
ifcai.bkp
ifcaicent
node-ambari
partnumbers
systemd
git-completion.bash
